*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: rgb(241, 238, 238);
}
 
:root{
    --cor-principal:#40FFBA;
}


.title-home{
    text-align: center;
    font-family: 'Pacifico', cursive;
    font-size: 40pt;
    color: var(--cor-principal);
    text-shadow: 
    -1px -1px 0px black, 
    -1px 1px 0px black,                    
     1px -1px 0px black,                  
     1px 0px 0px black;

}
.title-home::after{
    margin-left: 5px;
    content: 'V 1.0';
    color: black;
    font-size: 14pt;
    font-weight: 200;
    text-shadow: none;

}

.new-task--area{
    margin: auto;
    margin-top: 30px;
    width: 50%;
    height: 45px;
    display: flex;
}
#new-task--input{
    flex: 3;
    border: 1px solid #000000;
    border-radius: 21px 0px 0px 21px;
    padding-left: 20px;
    font-size: 15pt;
    outline-color:var(--cor-principal);
    font-family: 'Pacifico', cursive;
}
.new-task--btn{
    flex: 1;
    background: #40FFBA;
    border: 1px solid #000000;
    border-radius: 0px 21px 21px 0px;
    cursor: pointer;
    font-size: 15pt;
    transition: all 0.5s;
    font-family: 'Pacifico', cursive;
}
.new-task--btn:hover{
    filter: brightness(0.9);
    border: 1px solid var(--cor-principal);
}



.task-area{
    background-color: var(--cor-principal);
    width: 50%;
    margin: auto;
    margin-top: 15px;
    border: 1px solid #00045F;
    border-radius: 30px;
}


.task-list{
    padding: 20px;
    text-decoration: none;
}

.task-item--container{
    display: flex;
    align-items: center;
    gap: 10px;
    height: 32px;
    margin-top: 25px;
    padding: 15px 15px;
    justify-content: space-between;

}

.checkbox-item{
    display: inline-block;
  vertical-align: middle;
    cursor: pointer;
    height: 30px;
    width: 30px;


}


.remove-task-btn{
    height: 40px;
    width: 40px;
    border-radius: 30px;
    border: 1px solid black;
    background-color: #C71A39;
    cursor: pointer;
    transition: all 0.5s;
    text-align: center;
    font-size: 15pt;
    display: flex;
    justify-content: center;
    align-items: center;

}
.remove-task-btn:hover{
    filter: brightness(0.9);
    border: 1px solid red;
    color: white;
}

.task-item{
    padding-left: 18px;
    border: 1px solid black;
    border-radius: 30px;
    background-color: white;
    width: 80%;
    font-size: 15pt;
    font-family: 'Pacifico', cursive;
}

@media (max-width : 800px) {
    
.title-home{
    text-align: center;
    font-family: 'Pacifico', cursive;
    font-size: 30pt;
    color: var(--cor-principal);
    text-shadow: 
    -1px -1px 0px black, 
    -1px 1px 0px black,                    
     1px -1px 0px black,                  
     1px 0px 0px black;

}
.title-home::after{
    margin-left: 5px;
    content: 'V 1.0';
    color: black;
    font-size: 12pt;
    font-weight: 200;
    text-shadow: none;

}

.new-task--area{
  
    margin-top: 30px;
    width: 100%;
    height: 45px;
    display: flex;
    flex-direction: column;
}

#new-task--input{
    margin: auto;
    width: 90%;
    border: 1px solid #000000;
    border-radius: 21px;
    padding-left: 20px;
    font-size: 15pt;
    outline-color:var(--cor-principal);
    font-family: 'Pacifico', cursive;
    margin-bottom: 5px;
}
.new-task--btn{
    margin: auto;
    width: 90%;
    background: #40FFBA;
    border: 1px solid #000000;
    border-radius: 21px;
    cursor: pointer;
    font-size: 15pt;
    transition: all 0.5s;
    font-family: 'Pacifico', cursive;
}

.task-area{
    background-color: var(--cor-principal);
    width: 90%;
    margin: auto;
    margin-top: 55px;
    border: 1px solid #00045F;
    border-radius: 30px;
}


.task-list{
    padding: 20px;
    text-decoration: none;
}

.task-item--container{
    display: flex;
    align-items: center;
    gap: 10px;
    height: 32px;
    margin-top: 15px;
    padding: 15px 15px;
    justify-content: center;
    align-items: center;

}

.remove-task-btn{
    height: 34px;
    width: 34px;
    border-radius: 30px;
    border: 1px solid black;
    background-color: #C71A39;
    cursor: pointer;
    transition: all 0.5s;
    text-align: center;
    font-size: 13pt;
    display: flex;
    justify-content: center;
    align-items: center;

}

}